.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Устанавливаем более высокий z-index для фона */
  }
  .forecast-container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  .forecast-scroll {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .day-block {
    min-width: 200px;
    padding: 20px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
  }
  
  .hourly-container {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .detail-block {
    min-width: 150px;
    padding: 10px;
    margin-right: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-shrink: 0;
  }
  button {
    
    cursor: pointer;
  }