<div class="modal">
    <div class="modal-content"> 
      <h2>Select city</h2>
      <form (ngSubmit)="onSubmit()" class="form">
        <label for="city">City</label>
      <select id="city" [(ngModel)]="city" name="city" required>
        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
      </select>
      
        
      <div class="buttons">
        <button type="submit" class="btn btn-primary">Get Weather</button>
        <button type="button" (click)="onCancel()"  class="btn  btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>